

.I-multi-select {
  margin-top: 5px;
  height: 35px;
  position: relative;
  font-size: 16px;

  > .I-select-header {
    width: 100%;
    height: 45px;
    border: none;
    background-color: #fff;
    padding: 0 15px;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    > span {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
    }

    > i {
      position: absolute;
      transition: 0.3s;
      cursor: pointer;
      right: 20px;
      padding: 4px 0 0 10px;
      height: 85%;
      font-size: 11px;
      font-weight: bold;
      opacity: 0.4;
        &:before{
          position: absolute;
          top: 15px;
        }
      &:hover{
        opacity: 1;
      }
    }

    > .I-select-placeholder {
      opacity: 0.6;
    }
  }

  > .I-select-body {
    top: 40px;
    width: 100%;
    margin: 0;
    z-index: 19999;
    padding: 0;
    position: absolute;
    max-height: 260px;
    //box-shadow: $shadow;
    background: white;
    overflow-y: auto;
    //border-radius: $small-radius;
    list-style-type: none;

    > li {
      width: 100%;
      cursor: pointer;
      height: 35px;
      padding: 8px 12px;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 16px;

      &:hover {
        background-color: rgba(238, 107, 69, 0.51);
        color: white;
        cursor: pointer;
      }

      > img {
        vertical-align: middle;
      }

      &.I-select-empty-label {
        color: black;
        cursor: default;

        &:hover {
          background: inherit;
        }
      }

      &.I-select-new-label {
        color: #ee6b45;
      }

      &.I-chosen {
        color: white;
        background-color:#ee6b45 ;
      }
    }
  }
}

.clear-text{
  position: absolute;
  right:25px;
  width: 10px;
  height: 10px;
  cursor: pointer;
  &:before{
       position: absolute;
    content: '';
       width: 100%;
       height: 2px;
       background-color: black;
       transform: rotate(45deg);
    border-radius: 15px;
    top: 20px !important;
     }
  &:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: rotate(-45deg);
    border-radius: 15px;
    top: 20px !important;

  }
}
