$red        : #EC2527;
$pink       : #EC1A6E;
$purple     : #0E0655;
$light-blue : #26F8DB;
$light-gray : #C4C5D2;


$box-shadow : 0 0 15px 5px transparentize(#000, 0.9);

$header-height : 80px;

$sidebar-width       : 320px;
$sidebar-width-close : 75px;

$page-actions-height : 80px;

$small-pc-screen: 1440px;

