#B-content {

  height  : 100vh;
  display : flex;
  justify-content: flex-end;
  #B-main-wrapper {
    
    width      : calc(100% - #{$sidebar-width});
    display    : flex;
    flex-wrap  : wrap;
    transition : .3s;
    position: relative;
    &::before{
      position         : absolute;
      content          : '';
      width            : 100%;
      height           : 100vh;
      background-color : rgba(0,0,0,0.1);
      transition       : 0.3s;
      opacity          : 0;
      visibility       : hidden;
      z-index          : 9999;
    }
    &.B-main-wrapper-logouted {
      
      width  : 100%;

      > #B-page-wrapper { height: 100%; }
    }

    &.B-sidebar-close { width: calc(100% - #{$sidebar-width-close}); }

    > #B-page-wrapper {
      
      width      : 100%;
      height     : calc(100% - 20px);
      overflow-y : auto;
      padding: 50px 40px 20px 50px ;
    }
  }
}


.icon-edit { color: $purple !important; }

.B-pointer { cursor: pointer; }
.B-auto-left { margin-left: auto !important; }
.B-clear-left { margin-left: 0 !important; }
.B-invalid-field { border: 1px solid red !important; }
.B-invalid-text { color: red; }
.B-correct-answer, .B-incorrect-answer {

  top       : 50%;
  right     : 10px;
  color     : $light-blue;
  position  : absolute;
  font-size : 28px;
  transform : translateY(-50%);
}

.B-pink-color { color: $pink !important; }
.B-incorrect-answer { color: $light-gray; }
.B-confirm-modal .B-modal-content { max-width: 400px; }

.dropzone {

  border  : 1px solid #D6D6D6;
  padding : 20px;

  > h3 { font-weight: 300; }
  > h4 { margin-top: 5px; }
}

*::-webkit-scrollbar {
  position: absolute;
  right: 10px;
  width: 7px;
  height: 7px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.1)
}

*::-webkit-scrollbar-thumb {
  background: rgba(22, 60, 69, 0.3);
  width: 20px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.alertify-notifier .ajs-message.ajs-visible{
  -webkit-transition-duration: 500ms !important;
  transition-duration: 500ms !important;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  opacity: 1;
  max-height: 100%;
  padding: 15px;
  margin-top: 10px;

  right: -40vw!important;
}
.alertify-notifier .ajs-message{
  right: -60vw !important;
  left: auto!important;
}

@media (max-width:991px){

  #B-page-wrapper{
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}


.G-close-icon{
  position: absolute;
  width: 15px;
  height: 15px;
  display: block;
  cursor: pointer;
  right: 15px;
top: 50%;
  transform: translateY(-50%);
  &:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: black;
    transform: translate(-50%,-50%) rotate(45deg);
    top: 50%;
    left: 50%;
  }
  &:after{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: black;
    transform: translate(-50%,-50%) rotate(135deg);
    top: 50%;
    left: 50%;
  }
}
